<h1> Menu de Serviços</h1>

<div class="clr-row">
    <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">

        <a routerLink="pessoa" class=" card clickable">

            <div class="card-header">
                <span>Cadastro de Pessoa</span>

            </div>

            <div class="card-block">
                <div class="card-text">
                    O termo pessoa física se refere a um indivíduo concreto, um ser humano.
                </div>
            </div>
            <div class="card-footer">

            </div>
        </a>
    </div>

    <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">

        <a routerLink="presenca" class=" card clickable">

            <div class="card-header">
                <span>Presença</span>

            </div>

            <div class="card-block">
                <div class="card-text">
                    O termo pessoa física se refere a um indivíduo concreto, um ser humano.
                </div>
            </div>
            <div class="card-footer">

            </div>
        </a>
    </div>




</div>