<h1>MENU DE SERVIÇOS</h1>

<div class="clr-row">
    <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">

        <a routerLink="pessoa" class=" card clickable">

            <div class="card-header">
                <span>Cadastro de Pessoa</span>

            </div>

            <div class="card-block">
                <div class="card-text">
                    Para efetuar o cadastro de pessoa física ou jurídica no evento.
                </div>
            </div>
            <div class="card-footer">

            </div>
        </a>
    </div>

    <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">

        <a routerLink="presenca" class=" card clickable">

            <div class="card-header">
                <span>Registro de Presença</span>

            </div>

            <div class="card-block">
                <div class="card-text">
                    Para registrar a presença de uma pessoa física ou jurídica já cadastrada.
                </div>
            </div>
            <div class="card-footer">

            </div>
        </a>
    </div>




</div>