<form clrForm>

    <clr-input-container>
        <label>CPF:</label>
        <input clrInput name="cpf" appMask="999.999.999-99" (keypress)="keyPressNotLetters($event)" placeholder="XXX.XXX.XXX-XX" [(ngModel)]="pessoa.cpf" (focusout)="validarCPF(pessoa.cpf)" />
    </clr-input-container>
    <div *ngIf="!validarCPF(pessoa.cpf) && pessoa.cpf !==undefined" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">CPF inválido!</span>
            </div>
        </div>
    </div>

</form>

<br />
<div class="clr-row">
    <div class="clr-col-2">
        <span class="label-nome">Nome:</span>
    </div>
    <div class="clr-col-10">
        <span class="label-nome-text">{{pessoa.nome}}</span>
    </div>

</div>

<br /><br />

<button (click)="goBack()" class="btn btn-danger-outline">Cancelar</button>
<button [clrLoading]="validateBtnState" (click)="addPresenca()" class="btn btn-success-outline">Efetivar</button>