<h1>
    REGISTRO DE PRESENÇA</h1>
<form clrForm>



    <clr-input-container>
        <label>CPF: </label>
        <input clrInput name="cpf" appMask="999.999.999-99" (keypress)="keyPressNotLetters($event)" placeholder="XXX.XXX.XXX-XX" [(ngModel)]="cpf" (focusout)="validarCPF(cpf)" />
    </clr-input-container>

    <div *ngIf="!validarCPF(cpf) && cpf !==undefined" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">CPF inválido!</span>
            </div>
        </div>
    </div>


    <clr-select-container>
        <label>Datas: </label>
        <select clrSelect name="option" [(ngModel)]="id" required>
            <option  *ngFor="let presenca of listPresenca" value="{{presenca.id}}">{{this.datepipe.transform(presenca.date, 'dd/MM/yyyy')}}</option>
        </select>
        <clr-control-error>Selecione um evento!</clr-control-error>
    </clr-select-container>

</form>

<br />
<div class="clr-row">
    <div class="clr-col-2">
        <span class="label-nome">Dados:</span>
    </div>
    <div class="clr-col-10">
        <span class="label-nome-text">NOME: {{pessoa.name}}</span><br />
        <span class="label-nome-text">CPF: {{pessoa.cpf}}</span><br />
        <span class="label-nome-text">CNPJ: {{pessoa.cnpj}}</span>
    </div>

</div>



<br /><br />

<button (click)="goBack()" class="btn btn-danger-outline">Cancelar</button>
<button [clrLoading]="validateBtnState" (click)="addPresenca()" class="btn btn-success-outline">Efetivar</button>
<button type="button" (click)="refreshPessoa()" class="btn btn-icon">
    <clr-icon shape="sync"></clr-icon>
</button>