<h1>CADASTRO DE PESSOA</h1>

<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">

        <a routerLink="pessoa-fisica" class=" card clickable">

            <div class="card-header">
                <span>Pessoa Física</span>

            </div>

            <div class="card-block">
                <div class="card-text">
                    O termo pessoa física se refere a um indivíduo concreto, um ser humano.
                </div>
            </div>
        </a>
    </div>
    <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">

        <a routerLink="pessoa-juridica" class=" card clickable">

            <div class="card-header">
                <span>Pessoa Juridica</span>

            </div>

            <div class="card-block">
                <div class="card-text">
                    O termo pessoa jurídica representa um sujeito abstrato, como as empresas e as associações.
                </div>
            </div>
        </a>
    </div>
</div>

<br /><br />

<button (click)="goBack()" class="btn">Voltar</button>