<div class="login-wrapper">
    <form class="login">
        <section class="title">

            <div class="clr-col-12">
                <span class="name-title">FENECRAT 2019</span>
            </div>
        </section>
        <div class="login-group">

            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input class="input" type="text" name="login" clrInput placeholder="Login" [(ngModel)]="form.username" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input class="input" type="password" name="senha" clrPassword placeholder="Senha" [(ngModel)]="form.password" />
            </clr-password-container>
            <div class="error active" *ngIf="activeMessageError">
                Login ou senha inválida!
            </div>
            <button (click)="LogOn()" type="submit" class="btn btn-primary">Entrar</button>

        </div>
    </form>
</div>